<!-- <h1 class="heading">Dogs</h1>
<div class="list-container">
	<ul>
		<li *ngFor="let dogName of dogNames">
			<a [routerLink]="['breed/', dogName]">{{dogName | titlecase}}</a>
		</li>
	</ul>
</div> -->

<h1 class="heading">DOGS API PROJECT</h1>

<div class="container">
	<p-table [value]="dogNames" styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="500px">
		<ng-template pTemplate="header">
			<tr>
				<th>Main-breed's Name</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-dogName>
			<tr>
				<td><a [routerLink]="['breed/', dogName]">{{dogName | titlecase}}</a></td>
			</tr>
		</ng-template>
	</p-table>
</div>