/* .heading {
	text-align: center;
}

.list-container {
	width: 300px;
	height: 500px;
	overflow: auto;

	margin: 20px auto;
}

li {
	font-size: 18px;
	margin: 10px;
} */

.heading {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

.container {
	width: 300px;
	height: 500px;

	margin: 50px auto;
}