.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
h2 {
	text-align: center;
}

h1 {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}

img {
	width: 100%;
	height: 250px;
	object-fit: contain;

	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5%;
}

app-redirect-home-btn {
	position: fixed;
}