<!-- <p-card>
	<h1>{{dogName | titlecase}}</h1>
	<img src="{{imageURL}}" alt="Image of a dog">
	<h2 *ngIf="subBreedNames.length > 0; else elseBlock">{{dogName | titlecase}} sub-breeds:</h2>
	<ng-template #elseBlock>
		<h2>This breed has no sub-breeds :(</h2>
	</ng-template>
	<ul>
		<li *ngFor="let subBreed of subBreedNames">
			<a routerLink="{{subBreed}}">{{subBreed}}</a>
		</li>
	</ul>
</p-card> -->

<app-redirect-home-btn></app-redirect-home-btn>
<div class="container">
	<p-card class=card>
		<h1>{{dogName | titlecase}}</h1>
		<img src="{{imageURL}}" alt="Image of a dog">
		<div class="table-container">
			<p-table *ngIf="subBreedNames.length > 0; else elseBlock" [value]="subBreedNames"
				styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="270px">
				<ng-template pTemplate="header">
					<tr>
						<th>Sub-breed's Name</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-subBreed>
					<tr>
						<td><a [routerLink]="[subBreed]">{{subBreed | titlecase}}</a></td>
					</tr>
				</ng-template>
			</p-table>
			<ng-template #elseBlock>
				<h2>This breed has no sub-breeds :(</h2>
			</ng-template>
		</div>
	</p-card>
</div>