/* You can add global styles to this file, and also import other style files */
button {
	height: 30px;
	width: 60px;
	background-color: rgb(220, 20, 60);
	color: rgb(255, 255, 255);
}

button:active {
	height: 28px;
	width: 58px;
	background-color: rgb(255, 0, 51);
	color: rgb(255, 255, 255);
}

.success,
.rm-selected {
	height: 50px;
	width: 100px;
	background-color: rgb(0, 0, 255);
	color: rgb(255, 255, 255);

	margin: 10px;
}

.success:active,
.rm-selected:active {
	height: 48px;
	width: 98px;
	background-color: rgb(0, 0, 255);
}

.rm-selected,
.rm-selected:active {
	background-color: rgb(255, 98, 7);
}

.adult {
	background-color: greenyellow;
}